#!/bin/bash

cd $HOME/catebot

while [ 1 ]; do
	DATABASE=status.db USERNAME=<reddit account> PASSWORD=<reddit password> SUBREDDITS=Catholicism CATECHISM=catechism.pickle python3.3 catebot.py >> catebot.out 2>> catebot.err
	sleep 60
done

